.postcard {
  display: none;
}

body {
  background-color: #ffe6cc;
}

button {
  background-color: #ccffff;
  border: black;
}

.postcard {
  border: solid black;
  border-radius: 25px;
  background-color: #f7fff6; 
background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-repeat: repeat;
  padding: 20px;
  width: 700px;
  height:400px;
}


.card-design {
  border: solid rgb(107, 50, 50);
  border-radius: 25px;
  font-family: Bradley Hand, cursive;
  background-color: #fffcdb;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-repeat: repeat;
  padding: 20px; 
  width:500px;
  height: 320px;  
  }

.address {
  margin-top: 50px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  border-radius: 25px;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}